<mat-card class="example-card">
    <div class="filtro-grafica">
        <app-filtro-total-vehiculos></app-filtro-total-vehiculos>
    </div>

    <div mat-card-avatar class="example-header-image print-btn"> <button mat-raised-button class="btn-filtro-orden main-btn-ordenes" primary aria-label="Imprimir ">
        <mat-icon>
            print
           </mat-icon>Imprimir 
          
         </button></div>
    <img mat-card-image src="./assets/images/graph2.png" alt="Gráfica">
    <mat-card-content>

    </mat-card-content>

</mat-card>