.example-form-field {
    margin-right: 20px;
}

mat-form-field {
    margin-right: 12px;
}

.content-filter-total {
    display: flex;
    justify-content: space-around;
}

.select-filtro-total,
.filtro-rango-fechas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

.select-filtro-total mat-form-field {
    max-width: 9em;
}

.filtro-rango-fechas mat-form-field {
    max-width: 9em;
}

.filtro-total-vehiculos mat-expansion-panel {
    margin-bottom: 0.8em;
}

.filtro-total-vehiculos mat-icon {
    margin-right: 0.2em;
}

.filtro-total-vehiculos mat-panel-title {
    color: #1c1c6e;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    justify-content: center;
}

.mat-expansion-panel-content {
    display: flex;
    /* overflow: visible; */
    flex-direction: column;
    align-items: stretch;
}

// form.ng-untouched.ng-pristine.ng-valid {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }
.btn-filtro-total {
    background-color: #2675bb;
    margin-top: 1.5em;
    color: #fff;
}

.btn-filtro-t-f {
    background-color: #2675bb;
    margin-top: 0.6em;
    color: #fff;
}

@media (max-width: 800px) {
    .content-filter-total {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .filtro-rango-fechas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pickers-filtro {
        display: flex;
        flex-direction: column;
    }
}