* {
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.table {
    width: 100%;
    overflow-x: auto;
}

tr.mat-footer-row {
    font-weight: bold;
}

th.mat-header-cell {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #1c1c6e;
    background: #fafafa;
    padding-right: 0.2em;
}

td.mat-cell {
    text-align: center;
}

td.mat-footer-cell {
    text-align: center;
}