<div class="main-container grid-container">

    <div class="content-left-cards a">
        <mat-card>
            <div class="info-cliente">
                <h2>EMPRESA PUBLICA DE HIDROCARBUROS DEL ECUADOR EP PETROECUADOR</h2>
                <h3> ALPALLANA E886 6 DE DICIEMBRE</h3>
                <p>jose.penafiel@eppetroecuador.ec</p>
                <p> 023940300</p>
            </div>
        </mat-card>
        <mat-card>
            <div class="info-vehiculo">
                <h2 class="titulo-placa">
                    PEO0005
                </h2>
                <div class="modelo">
                    <ul>
                        <li>LUV DMAX 3.5 V6 GASOLINA 4X4 - Año 1900</li>
                        <li>00ALL-LUV DMAX 3.5 V6 GSL 4X4</li>
                    </ul>
                </div>
                <div class="color">ROJO</div>
                <div class="km">
                    280925 Kilometros
                </div>

                <div class="tipo-vehiculo">
                    VEHICULO TAL MIGRACION
                </div>
            </div>
        </mat-card>
    </div>
    <div class="content-right-table b">
        <app-tabla-descripcion-servicio></app-tabla-descripcion-servicio>
    </div>
    <div class="content-left-cards c">
        <mat-card>
            <div class="info-cliente">
                <h2>EMPRESA PUBLICA DE HIDROCARBUROS DEL ECUADOR EP PETROECUADOR</h2>
                <h3> ALPALLANA E886 6 DE DICIEMBRE</h3>
                <p>jose.penafiel@eppetroecuador.ec</p>
                <p> 023940300</p>
            </div>
        </mat-card>
        <mat-card>

        </mat-card>
    </div>
    <div class="content-left-cards d">
        <mat-card>
            <div class="info-cliente">
                <h2>EMPRESA PUBLICA DE HIDROCARBUROS DEL ECUADOR EP PETROECUADOR</h2>
                <h3> ALPALLANA E886 6 DE DICIEMBRE</h3>
                <p>jose.penafiel@eppetroecuador.ec</p>
                <p> 023940300</p>
            </div>
        </mat-card>
        <mat-card>

        </mat-card>
    </div>
</div>