<div class="main-container grid-container">

    <div class="content-left-cards a">
        <app-datos-cliente></app-datos-cliente>
        <app-filtro-ordenes></app-filtro-ordenes>
        <app-datos-vehiculo></app-datos-vehiculo>
        <div class="main-orden-taller">
            <app-orden-taller></app-orden-taller>
        </div>
        <div class="alt-orden-taller">
            <app-orden-taller></app-orden-taller>
            <app-orden-taller></app-orden-taller>
        </div>
    </div>
    <div class="content-right-table b">
        <app-tabla-descripcion-servicio></app-tabla-descripcion-servicio>
    </div>
    <div class="content-left-cards c">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image print-btn"> <button mat-raised-button class="btn-filtro-orden main-btn-ordenes" primary aria-label="Filtrar ">
                    Imprimir 
                      <mat-icon>
                        print
                       </mat-icon>
                     </button></div>
                <!-- <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
            </mat-card-header>
            <img mat-card-image src="./assets/images/graph1.png" alt="Gráfica">
            <mat-card-content>
                <!-- <p>
              </p> -->
            </mat-card-content>
            <!-- <mat-card-actions>              
            </mat-card-actions> -->
        </mat-card>
    </div>

    <div class="content-left-cards d">

        <mat-card class="example-card">
            <div class="filtro-grafica">
                <!-- <app-filtro-total-vehiculos></app-filtro-total-vehiculos> -->
                <app-filtro-ordenes></app-filtro-ordenes>
            </div>

            <div mat-card-avatar class="example-header-image print-btn"> <button mat-raised-button class="btn-filtro-orden main-btn-ordenes" primary aria-label="Imprimir ">
                Imprimir 
                  <mat-icon>
                    print
                   </mat-icon>
                 </button></div>
            <img mat-card-image src="./assets/images/graph2.png" alt="Gráfica">
            <mat-card-content>
                <!-- <p>
                </p> -->
            </mat-card-content>
            <!-- <mat-card-actions>             
            </mat-card-actions> -->
        </mat-card>
    </div>
</div>