.grid-container {
    margin: 5px 5px 0 10px;
}

.filtro-orden-taller mat-expansion-panel {
    margin-bottom: 0.8em;
}

.filtro-orden-taller mat-icon {
    margin-right: 0.8em;
}

.filtro-orden-taller mat-panel-title {
    color: #1c1c6e;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

::-webkit-scrollbar-thumb {
    background: #1c1c6e;
    border-radius: 4px;
    height: 7px;
}

 ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: rgb(138, 119, 213);
    border-radius: 4px;
}

.example-form-field {
    margin-right: 20px;
}

.content-left-cards.a {
    overflow: hidden;
    overflow-x: hidden;
}

.content-left-cards.a:hover {
    overflow: auto;
}

.content-right-table.b {
    width: 100%;
}

// div graficos
.print-btn {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

//-------------------------------
@media (min-width: 800px) {
    .content-left-cards.a {
        width: 100%;
    }
    .grid-container {
        display: grid;
        grid-gap: 1%;
        grid-template-columns: [col1-start] 44% [col2-start] 54%;
        grid-template-rows: [row1-start] 580px [row2-start] auto [row3-start] auto [row3-end];
        color: #444;
        // height: calc(100vh - 70px);
    }
    .a {
        grid-column: col1-start;
        grid-row: row1-start;
    }
    .b {
        grid-column: col2-start;
        grid-row: row1-start;
    }
    .c {
        grid-column: col1-start / col1-end;
        grid-row: row3-start;
    }
    .d {
        grid-column: col1-start / col1-end;
        grid-row: row4-start;
    }
}