<div class="main-container grid-container">

    <div class="content-left-cards a">
        <app-datos-cliente></app-datos-cliente>
        <app-filtro-ordenes></app-filtro-ordenes>
        <app-datos-vehiculo></app-datos-vehiculo>
        <div class="main-orden-taller">
            <app-orden-taller></app-orden-taller>
        </div>
        <div class="alt-orden-taller">
            <app-orden-taller></app-orden-taller>
            <app-orden-taller></app-orden-taller>
        </div>
    </div>
    <div class="content-right-table b">
        <app-tabla-descripcion-servicio></app-tabla-descripcion-servicio>
    </div>
    <div class="content-left-cards c">
        <app-grafico-valor-fecha></app-grafico-valor-fecha>
    </div>

    <div class="content-left-cards d">
        <app-grafico-valor-vehiculo></app-grafico-valor-vehiculo>
    </div>

</div>