<mat-card class="card-orden-taller">
    <div class="orden-taller">
        <ul class="detalle-orden">
            <li>
                <mat-icon>receipt_long</mat-icon>
                <span>34159 - OT. 99.99. - ORDEN DE TALLER - <span class="estado-factura">Facturada</span></span>
            </li>
            <li>
                <mat-icon>network_check</mat-icon>
                <span>249711 Kilometros</span>
            </li>
            <li>
                <mat-icon>person</mat-icon>
                <span> Bryan Silva</span>
            </li>
            <li>
                <mat-icon>
                    garage
                </mat-icon>
                <span>  17.1.3 - QTO GRANADOS TAL</span>
            </li>
            <li>
                <mat-icon>badge</mat-icon>
                <span>Jorge Guada</span>
            </li>
            <li>
                <mat-icon>event</mat-icon>
                <span>5/13/2020 12:00:00 AM</span>
            </li>
        </ul>
    </div>
    <mat-card-actions>
        <mat-divider></mat-divider>
        <div class="btn-orden-taller">
            <button (click)="openDialog()" class="main-btn-ordenes" mat-button>
                <mat-icon>list_alt</mat-icon> Ver más detalles</button>
        </div>
    </mat-card-actions>
</mat-card>