<mat-card>
    <div class="info-vehiculo">
        <h2 class="titulo-placa">
            PEO0005
        </h2>
        <div class="modelo">
            <ul>
                <li>LUV DMAX 3.5 V6 GASOLINA 4X4 - Año 1900</li>
                <li>00ALL-LUV DMAX 3.5 V6 GSL 4X4</li>
                <li class="color">ROJO</li>
                <li class="km">
                    280925 Kilometros
                </li>
                <li class="tipo-vehiculo">
                    VEHICULO TAL MIGRACION
                </li>
            </ul>
        </div>
    </div>
</mat-card>