<h1 class="title-modal" mat-dialog-title>

    {{data.titulo}}</h1>
<mat-dialog-content>
    <div>

        <app-datos-vehiculo></app-datos-vehiculo>
        <app-orden-taller></app-orden-taller>
        <app-tabla-detalle-ordenes-taller></app-tabla-detalle-ordenes-taller>
    </div>

</mat-dialog-content>
<mat-dialog-actions>
    <div class="btn-actions-modal">
        <button mat-raised-button class="btn-filtro-orden main-btn-ordenes" primary aria-label="Imprimir ">
        Imprimir 
          <mat-icon>
            print
           </mat-icon>
         </button>
        <button class="mat-b-warning main-btn-ordenes" mat-button mat-dialog-close mat-dialog-close="false"> <mat-icon>
            close
           </mat-icon>Cerrar</button>
    </div>

</mat-dialog-actions>