/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card {
    margin-bottom: 0.8em;
}

.main-btn-ordenes {
    background-color: #2675bb;
    color: #fff;
}

// Styles orden taller
.main-orden-taller mat-card {
    border-left: solid 10px #2675bb;
}

.alt-orden-taller mat-card mat-card-actions .btn-orden-taller {
    display: flex;
    justify-content: flex-end;
}