<mat-accordion class="filtro-orden-taller">
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>
                    manage_search
                </mat-icon>
                Filtrar Ordenes de Taller
            </mat-panel-title>

        </mat-expansion-panel-header>
        <div class="content-filter-orden">
            <div class="content-filtro-orden">
                <form>
                    <div class="rango-fecha">
                        <mat-form-field color="accent" appearance="fill">
                            <mat-label>Inherited calendar color</mat-label>
                            <input matInput [matDatepicker]="picker1">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field color="accent" appearance="fill">
                            <mat-label>Custom calendar color</mat-label>
                            <input matInput [matDatepicker]="picker2">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2 color="primary"></mat-datepicker>
                        </mat-form-field>
                        <button mat-raised-button class="btn-filtro-orden" aria-label="Filtrar ">
                            <mat-icon>
                                manage_search
                               </mat-icon>
                               Filtrar 
                             </button>
                    </div>
                </form>
            </div>

            <div class="content-filtro-orden">
                <form action="">
                    <div class="estado-factura">
                        <mat-form-field>
                            <mat-label>Estado Factura</mat-label>
                            <mat-select>
                                <mat-option>Ninguna</mat-option>
                                <mat-option value="activa">Activa</mat-option>
                                <mat-option value="fact-parcial">Facturación parcial</mat-option>
                                <mat-option value="facturada">facturada</mat-option>
                                <mat-option value="cerrada">Cerrada</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button mat-raised-button class="btn-filtro-orden" aria-label="Filtrar ">
                    <mat-icon>
                        manage_search
                       </mat-icon>
                       Filtrar 
                     </button>
                    </div>
                </form>
            </div>
            <div class="content-filtro-orden">
                <div class="btns-filtro">
                    <button mat-raised-button class="btn-filtro-orden" aria-label="Filtrar ">
                        <mat-icon>
                            manage_search
                           </mat-icon>
                           Listar todas las ordenes 
                        
                         </button>
                    <button (click)="openDialog()" mat-raised-button class="btn-filtro-orden" primary aria-label="Filtrar ">
                        <mat-icon>
                            find_in_page
                           </mat-icon>
                           Ver más detalles ordenes de taller 
                        
                             </button>

                </div>
            </div>
        </div>

    </mat-expansion-panel>

</mat-accordion>