.example-form-field {
    margin-right: 20px;
}

mat-form-field {
    margin-right: 12px;
}

.filtro-orden-taller mat-expansion-panel {
    margin-bottom: 0.8em;
}

.filtro-orden-taller mat-icon {
    margin-right: 0.8em;
}

.filtro-orden-taller mat-panel-title {
    color: #1c1c6e;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    justify-content: center;
}

.mat-expansion-panel-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.rango-fecha {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.rango-fecha mat-form-field {
    max-width: 9em;
}

.estado-factura mat-form-field {
    max-width: 10em;
}

.estado-factura {
    display: flex;
    justify-content: space-around;
    margin: 1.5em 0;
}

.btns-filtro {
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

.btn-filtro-orden {
    margin: 0.5em 0;
    background-color: #2675bb;
    color: white;
}

@media only screen and (min-width: 800) and (max-width: 1280px) {
    // form.ng-untouched.ng-pristine.ng-valid {
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    //     flex-direction: column;
    // }
    .rango-fecha {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 800px) {
    .rango-fecha {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .estado-factura {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1.5em;
    }
}