.example-form-field {
    margin-right: 20px;
}

mat-form-field {
    margin-right: 12px;
}

.filtro-orden-taller mat-expansion-panel {
    margin-bottom: 0.8em;
}

.filtro-orden-taller mat-icon {
    margin-right: 0.8em;
}

.filtro-orden-taller mat-panel-title {
    color: #1c1c6e;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    justify-content: center;
}

.mat-expansion-panel-content {
    display: flex;
    /* overflow: visible; */
    flex-direction: column;
    align-items: stretch;
}

form.ng-untouched.ng-pristine.ng-valid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rango-fecha {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.btns-filtro {
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

.btn-filtro-orden {
    margin: 0.5em 0;
    background-color: #2675bb;
    color: white;
}

@media (max-width: 800) and (min-width: 1280px) {
    form.ng-untouched.ng-pristine.ng-valid[_ngcontent-itg-c184] {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
}